/* Contenedor principal */
.meseros-container {
  font-family: "Arial", sans-serif;
  color: #fff;
  position: relative;
  box-sizing: border-box;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);  backdrop-filter: blur(15px); 
 box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  margin: 10vh auto;
  width: 100%;
  height: 80vh; 
  padding: 20px;

}
h2{
  color: #aaa;
}
button{
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(to right, #ff4d79, #b3126d);
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}
.imagenvinomeseros {
  grid-column: span 2 / span 2;
  grid-row: span 7 / span 7;

  width: 100%; /* Se ajusta al ancho del contenedor */
  max-width: 120px; /* Máximo tamaño de 80px */
  
  height: auto; /* Mantiene la proporción de la imagen */
  object-fit: contain; /* Asegura que la imagen no se distorsione */
  border-radius: 5px;
}



.infomeseros-vinos{
  text-align: right;
  grid-column: span 4 / span 4;
  grid-row: span 4 / span 4;
  grid-column-start: 3;

}

.vinosbotellas{
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 5;

}

.vinoscopas{
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 5;
  grid-row-start: 5;

}

.botonesmeseros-vinos{
  grid-column: span 4 / span 4;
  grid-column-start: 3;
  grid-row-start: 7;
  display: flex;
  justify-content: end;
  gap: 5px;
  padding-top: 20px;
  object-fit: contain;
}

/* Encabezado con logo */
.mesero-header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.logo-negocio {
  
  max-width: 50%;
}

/* Título principal */
h2 {
  margin: 10px 0;
}

/* Grid de Mesas */
.mesas-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 30px;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
}
.mesa-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s;
}
.mesa-item img {
  width: auto;
  height: auto;
  max-width: 90%;
  max-height: 90%;
}
.mesa-item p {
  margin-top: 5px;
  font-size: 125%;
  color: #ffffff;
}
.mesa-item:hover {
  transform: scale(1.05);
}

/* Grid de Vinos */
.vinos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20px, 1fr));
  gap: 20px;
  max-width: 700px;
  max-height: 10px; 
  margin: 20px auto;
  margin-top: 20px;
  align-items: start;
  overflow-y: auto; 
}
.vinomeseros-item {
  display: flex;
  max-height: 140px;
  background: rgba(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s;
  text-align: center;
}
.vinomeseros-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 5px;
}
.vinomeseros-item p {
  font-weight: bold;
  text-align: right;
  margin: 5px 0 2px;
  font-size: 14px;
  color: #fff;
}
.vinomeseros-item span {
  font-size: 14px;
  color: #ffffff;
}
.vinomeseros-item:hover {
  transform: translateY(-5px);
}

/* Modal de compra */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalmeseros-content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 8px;

  background: #b3b3b3;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 400px;
  color: #333;
  min-width: 550px;
  width: auto;
  padding: 20px;
 
}
.vino-detalle-img {
  width: 150px;
  height: 220px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 0px;
}
.botones-container {
  margin-top: auto; /* Empuja los botones hacia el fondo */
  text-align: center; /* Centra los botones */
  width: 100%;
}

/* Estilos de los botones */
.btn-confirm,
.btn-cancel {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 100%; /* Los botones ocupan todo el ancho disponible */
}

.btn-confirm {
  background: #81024c;
  color: #ffffff;
  font-weight: bold;
}

.btn-confirm:hover {
  background: #ff9900;
}

.btn-cancel {
  background: #ffffff;
  color: #333;
}

.btn-cancel:hover {
  background: #aaa;
}

.busqueda-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-right: 320px;
}

.busqueda-container input {
  flex: 1;
  margin: 0px;
  padding: 10px;
  font-size: 16px;
}

.busqueda-container button {
  margin-left: 10px;
  padding: 10px;
}

.vinos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 20px;
  overflow-y: auto;
  max-height: 60vh;
}

.vino-item {
  text-align: center;
  cursor: pointer;
}

.vino-item img {
  width: 100px;
  height: 150px;
  object-fit: cover;
}


.orden-panel {
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
  height: 100vh;
  background: white;
  padding: 20px;
  overflow-y: auto;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3);
  z-index: 10; /* Asegura que el panel esté por encima de otros elementos */
}
.ordenmesero-panel {
  position: fixed;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100%; /* Ahora toma el 100% de la altura de la pantalla */
  background: rgba(0, 0, 0, 0.281); /* Fondo semitransparente */
  padding: 20px;
  overflow-y: auto;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.432);
  z-index: 10;
  display: flex; 
  flex-direction: column;
}
.ordenmesero-panel .producto {
  margin-bottom: 15px; /* Separa cada producto */
}


