/* Contenedor principal */
.mesero-container {
  width: 60%;
  min-height: 100vh;
  
  font-family: "Arial", sans-serif;
  color: #fff;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  background: rgba(0, 0, 0, 0.4); /* Más oscuro para resaltar el texto */
  backdrop-filter: blur(15px); /* Más desenfoque para mayor efecto de cristal */
  border: 2px solid rgba(255, 255, 255, 0.3); /* Borde blanco con opacidad */

  /* Sombra sutil */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  min-height: 80vh; /* Evita que llegue hasta el borde superior e inferior */
  
  margin: 10vh auto; /* Margen superior e inferior de 10% */
}

/* Encabezado con logo */
.mesero-header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.logo-negocio {
  
  max-width: 50%;
}

/* Título principal */
h2 {
  margin: 10px 0;
}

/* Grid de Mesas */
.mesas-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 30px;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
}
.mesa-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s;
}
.mesa-item img {
  width: auto;
  height: auto;
  max-width: 90%;
  max-height: 90%;
}
.mesa-item p {
  margin-top: 5px;
  font-size: 125%;
  color: #ffffff;
}
.mesa-item:hover {
  transform: scale(1.05);
}

/* Grid de Vinos */
.vinos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 20px;
  margin: 20px auto;
}
.vino-item {
  background: rgba(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s;
  text-align: center;
}
.vino-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.vino-item p {
  margin: 5px 0 2px;
  font-size: 14px;
  color: #fff;
}
.vino-item span {
  font-size: 14px;
  color: #ffffff;
}
.vino-item:hover {
  transform: translateY(-5px);
}

/* Modal de compra */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  background: #b3b3b3;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 90%;
  max-width: 400px;
  color: #333;
 
}
.vino-detalle-img {
  width: 150px;
  height: 220px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}
.btn-confirm,
.btn-cancel {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.btn-confirm {
  background: #81024c;
  color: #ffffff;
  font-weight: bold;
}
.btn-confirm:hover {
  background: #ff9900;
}
.btn-cancel {
  background: #ffffff;
  color: #333;
}
.btn-cancel:hover {
  background: #aaa;
}

.meseros-container {
  width: 100%;
  padding: 20px;
}

.busqueda-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.busqueda-container input {
  flex: 1;
  margin: 0px;
  padding: 10px;
  font-size: 16px;
}

.busqueda-container button {
  margin-left: 10px;
  padding: 10px;
}

.vinos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 20px;
  overflow-y: auto;
  max-height: 60vh;
}

.vino-item {
  text-align: center;
  cursor: pointer;
}

.vino-item img {
  width: 100px;
  height: 150px;
  object-fit: cover;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  text-align: center;
}

.orden-panel {
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
  height: 100vh;
  background: white;
  padding: 20px;
  overflow-y: auto;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 1024px) {
  .grid-menu {
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }
  .gestion-vinos, .ordenes-container {
      width: 95%;
  }
  .vino-item img {
      width: 80px;
      height: 120px;
  }
}

@media (max-width: 768px) {
  .grid-menu {
      grid-template-columns: 1fr;
  }
  .gestion-vinos, .ordenes-container {
      max-width: 100%;
  }
  .vino-item img {
      width: 70px;
      height: 100px;
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
